# Librerías y DF

In [71]:
import pandas as pd

In [72]:
df = pd.read_csv("/content/data_science_jobs_indeed_usa.csv")

In [73]:
df.head(5)

,Unnamed: 0,Title,Company,Location,Rating,Date,Salary,Description,Links,Descriptions
0,0,Data Scientist,Driven Brands,"Benicia, CA",2.4,PostedPosted 26 days ago,NaN,You’ll be working alongside a team of eight an...,https://www.indeed.com/rc/clk?jk=74d176d595225...,We invite you to join us at Driven Brands!\nHe...
1,1,Business Analyst,Sabot Consulting,Remote,NaN,PostedPosted 4 days ago,$80 - $120 an hour,Preferred candidates will have prior experienc...,https://www.indeed.com/rc/clk?jk=f662b2efb509b...,Sabot Consulting (Sabot) is a management consu...
2,2,IT Business Intelligence Developer (FT) Remote...,Ballad Health,"Remote in Blountville, TN",3.0,PostedPosted 30+ days ago,NaN,Job Details Apply Save Print this job Email a…,https://www.indeed.com/rc/clk?jk=58612836c63b8...,Job Details\nApply\nSave\nPrint this job\nEmai...
3,3,Data Engineer,Longevity Holdings Inc.,"Remote in Minneapolis-Saint Paul, MN",NaN,PostedPosted 3 days ago,"$90,000 - $110,000 a year",Incorporate core data management competencies ...,https://www.indeed.com/company/TwentyFirst/job...,Position: Data Engineer\nLocation: MN\nAs a Da...
4,4,Network Administrator/dba developer,WKI Kenworth,"Wichita, KS 67219",NaN,EmployerActive 2 days ago,"$50,000 - $70,000 a year",The Network Administrator provides 2nd level e...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Full Job Description\nThe Network Administrato...

# Limpieza

In [74]:
df.shape

(1200, 10)

In [75]:
df.dtypes

Unnamed: 0        int64
Title            object
Company          object
Location         object
Rating          float64
Date             object
Salary           object
Description      object
Links            object
Descriptions     object
dtype: object

In [76]:
df = df.drop(columns=["Links", "Unnamed: 0", "Date", "Description"])

In [77]:
state_mapping = {
    ", CA": "CA",
    ", NY": "NY",
    ", TX": "TX",
    ", WI": "WI",
    ", WA": "WA",
    ", MA": "MA",
    ", MN": "MN",
    ", TN": "TN",
    ", IL": "IL",
    ", CT": "CT",
    ", MD": "MD",
    ", CO": "CO",
    ", NJ": "NJ",
    ", NC": "NC",
    ", GA": "GA",
    ", DC": "DC",
    ", OH": "OH",
    ", OR": "OR",
    ", VA": "VA",
    ", PA": "PA",
    ", FL": "FL",
    ", MI": "MI",
    ", MO": "MO",
    ", NE": "NE",
    ", AL": "AL",
    ", AR": "AR",
    ", AZ": "AZ",
    ", DE": "DE",
    ", IA": "IA",
    ", IN": "IN",
    ", KS": "KS",
    ", MS": "MS",
    ", NV": "NV",
    ", NM": "NM",
    ", OK": "OK",
    ", RI": "RI",
    ", SC": "SC",
    ", UT": "UT",
    "North Carolina": "NC",
    "South Carolina": "SC",
    "New Jersey": "NJ",
    "Texas": "TX",
    "Illinois": "IL",
    "California": "CA",
    "West Virginia": "WV",
    "remote": "Remote",
    "Remote": "Remote"
}

In [78]:
def get_state(location):
    for key, value in state_mapping.items():
        if key in location:
            return value
    return "other loc"

df["Location"] = df["Location"].apply(get_state)

In [79]:
df.head()

,Title,Company,Location,Rating,Salary,Descriptions
0,Data Scientist,Driven Brands,CA,2.4,NaN,We invite you to join us at Driven Brands!\nHe...
1,Business Analyst,Sabot Consulting,Remote,NaN,$80 - $120 an hour,Sabot Consulting (Sabot) is a management consu...
2,IT Business Intelligence Developer (FT) Remote...,Ballad Health,TN,3.0,NaN,Job Details\nApply\nSave\nPrint this job\nEmai...
3,Data Engineer,Longevity Holdings Inc.,MN,NaN,"$90,000 - $110,000 a year",Position: Data Engineer\nLocation: MN\nAs a Da...
4,Network Administrator/dba developer,WKI Kenworth,KS,NaN,"$50,000 - $70,000 a year",Full Job Description\nThe Network Administrato...

In [80]:
df["Title"] = df["Title"].apply(str.lower)

In [81]:
df.head()

,Title,Company,Location,Rating,Salary,Descriptions
0,data scientist,Driven Brands,CA,2.4,NaN,We invite you to join us at Driven Brands!\nHe...
1,business analyst,Sabot Consulting,Remote,NaN,$80 - $120 an hour,Sabot Consulting (Sabot) is a management consu...
2,it business intelligence developer (ft) remote...,Ballad Health,TN,3.0,NaN,Job Details\nApply\nSave\nPrint this job\nEmai...
3,data engineer,Longevity Holdings Inc.,MN,NaN,"$90,000 - $110,000 a year",Position: Data Engineer\nLocation: MN\nAs a Da...
4,network administrator/dba developer,WKI Kenworth,KS,NaN,"$50,000 - $70,000 a year",Full Job Description\nThe Network Administrato...

In [82]:
df["Title"] = df["Title"].apply(lambda x: "data engineer" if "data e" in x
                                          else "data science" if "data s" in x
                                          else "data analyst" if "data a" in x
                                          else "other data jobs" if "data" in x
                                          else "database" if "database" in x
                                          else "business" if "business" in x
                                          else "machine learning" if "machine" in x
                                          else "software engineer" if "software" in x
                                          else "developer" if "developer" in x
                                          else "other categories")

In [83]:
df["Title"] = df["Title"].apply(str.capitalize)

In [84]:
df.head()

,Title,Company,Location,Rating,Salary,Descriptions
0,Data science,Driven Brands,CA,2.4,NaN,We invite you to join us at Driven Brands!\nHe...
1,Business,Sabot Consulting,Remote,NaN,$80 - $120 an hour,Sabot Consulting (Sabot) is a management consu...
2,Business,Ballad Health,TN,3.0,NaN,Job Details\nApply\nSave\nPrint this job\nEmai...
3,Data engineer,Longevity Holdings Inc.,MN,NaN,"$90,000 - $110,000 a year",Position: Data Engineer\nLocation: MN\nAs a Da...
4,Developer,WKI Kenworth,KS,NaN,"$50,000 - $70,000 a year",Full Job Description\nThe Network Administrato...

In [85]:
df["Salary"] = df["Salary"].str.replace("Up to", "-")

In [86]:
df["Salary"].fillna("0", inplace=True)

In [87]:
df["Hour/Year"] = df["Salary"].apply(lambda x: "Year" if "year" in x
                                     else "Month" if "month" in x
                                     else "Week" if "week" in x
                                     else "Hour" if "hour" in x
                                     else "Unknown")

In [88]:
df[["Min Salary", "Max Salary"]] = df["Salary"].str.split("-", expand=True)

In [89]:
df["Min Salary"] = df["Min Salary"].str.replace(r'[A-Za-z$]+', '', regex=True).str.strip()

In [90]:
df["Max Salary"] = df["Max Salary"].str.replace(r'[A-Za-z$]+', '', regex=True).str.strip()

In [91]:
df.head()

,Title,Company,Location,Rating,Salary,Descriptions,Hour/Year,Min Salary,Max Salary
0,Data science,Driven Brands,CA,2.4,0,We invite you to join us at Driven Brands!\nHe...,Unknown,0,None
1,Business,Sabot Consulting,Remote,NaN,$80 - $120 an hour,Sabot Consulting (Sabot) is a management consu...,Hour,80,120
2,Business,Ballad Health,TN,3.0,0,Job Details\nApply\nSave\nPrint this job\nEmai...,Unknown,0,None
3,Data engineer,Longevity Holdings Inc.,MN,NaN,"$90,000 - $110,000 a year",Position: Data Engineer\nLocation: MN\nAs a Da...,Year,"90,000","110,000"
4,Developer,WKI Kenworth,KS,NaN,"$50,000 - $70,000 a year",Full Job Description\nThe Network Administrato...,Year,"50,000","70,000"

In [92]:
df["Time Period"] = df["Hour/Year"]

In [93]:
df.drop(columns=["Salary", "Hour/Year"], inplace=True)

In [94]:
df.head()

,Title,Company,Location,Rating,Descriptions,Min Salary,Max Salary,Time Period
0,Data science,Driven Brands,CA,2.4,We invite you to join us at Driven Brands!\nHe...,0,None,Unknown
1,Business,Sabot Consulting,Remote,NaN,Sabot Consulting (Sabot) is a management consu...,80,120,Hour
2,Business,Ballad Health,TN,3.0,Job Details\nApply\nSave\nPrint this job\nEmai...,0,None,Unknown
3,Data engineer,Longevity Holdings Inc.,MN,NaN,Position: Data Engineer\nLocation: MN\nAs a Da...,"90,000","110,000",Year
4,Developer,WKI Kenworth,KS,NaN,Full Job Description\nThe Network Administrato...,"50,000","70,000",Year

ESTARIA BUENO PODER PASAR A INT LAS COLUMNAS DE SALARY

ACÁ HAY UN RE DRAMÓN CON LA MIN SALARY

In [95]:
df["Min Salary"] = df["Min Salary"].str.replace(',', '')

In [96]:
df["Max Salary"] = df["Max Salary"].str.replace(',', '')

In [97]:
df["Min Salary"] = pd.to_numeric(df["Min Salary"], errors='coerce')

In [98]:
df["Max Salary"] = pd.to_numeric(df["Max Salary"], errors='coerce')

In [99]:
df.dtypes

Title            object
Company          object
Location         object
Rating          float64
Descriptions     object
Min Salary      float64
Max Salary      float64
Time Period      object
dtype: object

In [100]:
df.head(15)

,Title,Company,Location,Rating,Descriptions,Min Salary,Max Salary,Time Period
0,Data science,Driven Brands,CA,2.4,We invite you to join us at Driven Brands!\nHe...,0.0,NaN,Unknown
1,Business,Sabot Consulting,Remote,NaN,Sabot Consulting (Sabot) is a management consu...,80.0,120.0,Hour
2,Business,Ballad Health,TN,3.0,Job Details\nApply\nSave\nPrint this job\nEmai...,0.0,NaN,Unknown
3,Data engineer,Longevity Holdings Inc.,MN,NaN,Position: Data Engineer\nLocation: MN\nAs a Da...,90000.0,110000.0,Year
4,Developer,WKI Kenworth,KS,NaN,Full Job Description\nThe Network Administrato...,50000.0,70000.0,Year
5,Data science,Gilead Sciences,CA,3.6,For Current Gilead Employees and Contractors:\...,0.0,NaN,Unknown
6,Business,Signify Health,TX,3.0,POSITION OVERVIEW\nThe Business Intelligence D...,0.0,NaN,Unknown
7,Business,Apria Healthcare,Remote,3.1,Job Summary (External):\nABOUT THE COMPANY\nAp...,0.0,NaN,Unknown
8,Data science,"Greenium Tech, LLC",IL,NaN,Job Description:\nThe Analytics & Innovation d...,75.0,90.0,Hour
9,Data science,Qcells,CA,2.7,This is a San Francisco based position that is...,0.0,NaN,Unknown
10,Data engineer,Vingsfire pvt ltd,Remote,NaN,"Skills required: Power BI, Cosmos + SQL experi...",50.0,NaN,Hour
11,Other data jobs,Helm,Remote,3.8,1. Must have experience working in Data Lakes ...,0.0,NaN,Unknown
12,Data science,Sun Life,MO,3.9,"You are as unique as your background, experien...",145400.0,218200.0,Year
13,Data science,Abbott Laboratories,CA,3.9,Abbott is a global healthcare leader that help...,0.0,NaN,Unknown
14,Data science,TikTok,WA,3.4,Responsibilities\nTikTok is the leading destin...,0.0,NaN,Unknown

In [101]:
df.loc[df["Max Salary"].isna()]

,Title,Company,Location,Rating,Descriptions,Min Salary,Max Salary,Time Period
0,Data science,Driven Brands,CA,2.4,We invite you to join us at Driven Brands!\nHe...,0.0,NaN,Unknown
2,Business,Ballad Health,TN,3.0,Job Details\nApply\nSave\nPrint this job\nEmai...,0.0,NaN,Unknown
5,Data science,Gilead Sciences,CA,3.6,For Current Gilead Employees and Contractors:\...,0.0,NaN,Unknown
6,Business,Signify Health,TX,3.0,POSITION OVERVIEW\nThe Business Intelligence D...,0.0,NaN,Unknown
7,Business,Apria Healthcare,Remote,3.1,Job Summary (External):\nABOUT THE COMPANY\nAp...,0.0,NaN,Unknown
...,...,...,...,...,...,...,...,...
1187,Software engineer,MaxisIT,NJ,3.4,MaxisIT is on a mission to improve the success...,0.0,NaN,Unknown
1188,Data science,ICON,Remote,3.4,"At ICON, it’s our people that set us apart. Ou...",0.0,NaN,Unknown
1189,Data science,LOCKHEED MARTIN CORPORATION,NC,4.0,COVID-19 continues to significantly impact our...,0.0,NaN,Unknown
1192,Data science,Anywhere Real Estate Inc,NJ,NaN,"Sr. Director, Data Science - Remote\n\nJoin us...",0.0,NaN,Unknown
1199,Business,Cloud and Things Inc,Remote,4.2,Position: Business Analyst\nLocation: Remote\n...,0.0,NaN,Unknown

In [102]:
df["Min Salary"].isna().sum()

14

In [103]:
df["Max Salary"].isna().sum()

683

In [104]:
df["Min Salary"] = df["Min Salary"].fillna(0)

In [105]:
df["Max Salary"] = df["Max Salary"].fillna(0)

In [106]:
df.head(15)

,Title,Company,Location,Rating,Descriptions,Min Salary,Max Salary,Time Period
0,Data science,Driven Brands,CA,2.4,We invite you to join us at Driven Brands!\nHe...,0.0,0.0,Unknown
1,Business,Sabot Consulting,Remote,NaN,Sabot Consulting (Sabot) is a management consu...,80.0,120.0,Hour
2,Business,Ballad Health,TN,3.0,Job Details\nApply\nSave\nPrint this job\nEmai...,0.0,0.0,Unknown
3,Data engineer,Longevity Holdings Inc.,MN,NaN,Position: Data Engineer\nLocation: MN\nAs a Da...,90000.0,110000.0,Year
4,Developer,WKI Kenworth,KS,NaN,Full Job Description\nThe Network Administrato...,50000.0,70000.0,Year
5,Data science,Gilead Sciences,CA,3.6,For Current Gilead Employees and Contractors:\...,0.0,0.0,Unknown
6,Business,Signify Health,TX,3.0,POSITION OVERVIEW\nThe Business Intelligence D...,0.0,0.0,Unknown
7,Business,Apria Healthcare,Remote,3.1,Job Summary (External):\nABOUT THE COMPANY\nAp...,0.0,0.0,Unknown
8,Data science,"Greenium Tech, LLC",IL,NaN,Job Description:\nThe Analytics & Innovation d...,75.0,90.0,Hour
9,Data science,Qcells,CA,2.7,This is a San Francisco based position that is...,0.0,0.0,Unknown
10,Data engineer,Vingsfire pvt ltd,Remote,NaN,"Skills required: Power BI, Cosmos + SQL experi...",50.0,0.0,Hour
11,Other data jobs,Helm,Remote,3.8,1. Must have experience working in Data Lakes ...,0.0,0.0,Unknown
12,Data science,Sun Life,MO,3.9,"You are as unique as your background, experien...",145400.0,218200.0,Year
13,Data science,Abbott Laboratories,CA,3.9,Abbott is a global healthcare leader that help...,0.0,0.0,Unknown
14,Data science,TikTok,WA,3.4,Responsibilities\nTikTok is the leading destin...,0.0,0.0,Unknown

# Preguntas

¿Cuál es el empleo más requerido?

In [107]:
df["Title"].value_counts()

Title
Data science         353
Business             264
Other data jobs      176
Data engineer        166
Machine learning     133
Other categories      37
Data analyst          31
Developer             21
Software engineer     19
Name: count, dtype: int64

Empleo con mejor Rating

In [108]:
df.groupby("Title")["Rating"].mean()

Title
Business             3.637179
Data analyst         3.810000
Data engineer        3.698684
Data science         3.722925
Developer            4.009091
Machine learning     3.890323
Other categories     3.845000
Other data jobs      3.649219
Software engineer    4.168421
Name: Rating, dtype: float64

¿Cuáles son los estados que ofrecen más trabajo?

In [109]:
df["Location"].value_counts()

Location
Remote    374
CA        137
NY        108
TX         61
IL         40
MA         37
NJ         35
GA         28
CO         28
VA         26
DC         25
WA         24
MD         23
OR         23
PA         23
FL         21
OH         20
NC         20
MN         14
MI         14
MO         12
CT         12
AZ         12
WI         12
NE         10
TN         10
IN          6
AL          6
NV          5
AR          5
IA          5
MS          3
WV          3
RI          3
DE          3
NM          3
UT          3
SC          3
OK          2
KS          1
Name: count, dtype: int64

¿Cuáles son las empresas que más empleados necesitan?

In [110]:
repeated_companies = df.groupby("Company")["Title"].count()

In [111]:
repeated_companies

Company
1 Point Systems                   2
2U                                1
3K Technologies                   1
3Q/DEPT                           1
84.51°                            2
                                 ..
redhat                            1
seven hills group technologies    1
tekshaper Inc.                    1
theSkimm                          1
zettalogix.Inc                    1
Name: Title, Length: 883, dtype: int64

In [112]:
repeated_companies[repeated_companies >= 5].sort_values(ascending=False)

Company
Artech Consulting LLC        10
CVS Health                    9
Capital One                   7
Ezoic                         7
Sandhills Global, Inc.        7
Apex Systems                  6
Cash App                      6
Chewy                         6
JPMorgan Chase Bank, N.A.     6
Bayer                         5
Calance US                    5
MTG Services                  5
Robert Half                   5
Strategic Employment          5
University of Illinois        5
Name: Title, dtype: int64

In [113]:
df.loc[df["Company"].str.contains("Artech Consulting LLC")]

,Title,Company,Location,Rating,Descriptions,Min Salary,Max Salary,Time Period
345,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour
356,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour
452,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour
689,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour
722,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour
842,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour
913,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour
995,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour
1120,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour
1121,Other categories,Artech Consulting LLC,Remote,NaN,Note: This is a fully remote role for the righ...,60.0,67.5,Hour

In [114]:
df["Company"].value_counts()

Company
Artech Consulting LLC     10
CVS Health                 9
Capital One                7
Sandhills Global, Inc.     7
Ezoic                      7
                          ..
3Q/DEPT                    1
Reveille Technologies      1
Cybertec Inc               1
TDS                        1
Cloud and Things Inc       1
Name: count, Length: 883, dtype: int64

¿Cuál es el mejor sueldo en cada rubro?

In [115]:
df.pivot_table(index="Title", columns="Time Period", values="Max Salary", aggfunc="max").sort_values(by="Year", ascending=False)

Time Period          Hour    Month  Unknown    Week      Year
Title
Machine learning   110.00      NaN      0.0     NaN  350000.0
Data science        90.00  11450.0      0.0     NaN  347200.0
Data engineer       95.00      NaN      0.0  2500.0  310000.0
Data analyst        70.00      NaN      0.0     NaN  257700.0
Other data jobs    140.00      NaN      0.0     NaN  255800.0
Other categories    67.50      NaN      0.0     NaN  237600.0
Business           120.00   8894.0      0.0  1300.0  195750.0
Developer           77.33      NaN      0.0     NaN  134197.0
Software engineer     NaN      NaN      0.0     NaN       0.0

In [116]:
df.loc[df["Max Salary"] == 350000]

,Title,Company,Location,Rating,Descriptions,Min Salary,Max Salary,Time Period
166,Machine learning,EliseAI,NY,NaN,About EliseAI\nOur company was born with a pow...,225000.0,350000.0,Year
266,Machine learning,EliseAI,NY,NaN,About EliseAI\nOur company was born with a pow...,225000.0,350000.0,Year

In [117]:
df.loc[df["Title"] == "Software engineer"]

,Title,Company,Location,Rating,Descriptions,Min Salary,Max Salary,Time Period
19,Software engineer,Ezoic,CA,4.5,Click here to learn more about the Software En...,0.0,0.0,Unknown
238,Software engineer,Robert Half,NJ,3.9,Duck Creek Senior Software Engineer\nBe a part...,0.0,0.0,Unknown
246,Software engineer,University of Illinois,IL,4.2,Research Software Development Engineer/Senior ...,0.0,0.0,Unknown
282,Software engineer,Robert Half,NJ,3.9,Duck Creek Senior Software Engineer\nBe a part...,0.0,0.0,Unknown
447,Software engineer,University of Illinois,IL,4.2,Research Software Development Engineer/Senior ...,0.0,0.0,Unknown
514,Software engineer,Ezoic,CA,4.5,Click here to learn more about the Software En...,0.0,0.0,Unknown
592,Software engineer,Ezoic,CA,4.5,Click here to learn more about the Software En...,0.0,0.0,Unknown
621,Software engineer,Decision Sciences International Corporation,CA,4.0,Job Title:\nSenior Software Engineer (QT and C...,150000.0,0.0,Year
732,Software engineer,Robert Half,NJ,3.9,Duck Creek Senior Software Engineer\nBe a part...,0.0,0.0,Unknown
799,Software engineer,Ezoic,CA,4.5,Click here to learn more about the Software En...,0.0,0.0,Unknown
802,Software engineer,University of Illinois,IL,4.2,Research Software Development Engineer/Senior ...,0.0,0.0,Unknown
822,Software engineer,Ezoic,CA,4.5,Click here to learn more about the Software En...,0.0,0.0,Unknown
868,Software engineer,Brooksource,Remote,3.7,DevOps Engineer/Python Developer\nRemote\n6 Mo...,0.0,0.0,Unknown
965,Software engineer,University of Illinois,IL,4.2,Research Software Development Engineer/Senior ...,0.0,0.0,Unknown
1070,Software engineer,Ezoic,CA,4.5,Click here to learn more about the Software En...,0.0,0.0,Unknown
1102,Software engineer,Robert Half,NJ,3.9,Duck Creek Senior Software Engineer\nBe a part...,0.0,0.0,Unknown
1162,Software engineer,Ezoic,CA,4.5,Click here to learn more about the Software En...,0.0,0.0,Unknown
1167,Software engineer,University of Illinois,IL,4.2,Research Software Development Engineer/Senior ...,0.0,0.0,Unknown
1187,Software engineer,MaxisIT,NJ,3.4,MaxisIT is on a mission to improve the success...,0.0,0.0,Unknown

Comparar si hay otras ciudades que ofrecen más en un trabajo en especifico

In [118]:
df1 = df.pivot_table(index="Location", columns="Title", values="Min Salary", aggfunc="count").reset_index()
df1

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
0,AL,NaN,NaN,NaN,2.0,NaN,1.0,NaN,3.0,NaN
1,AR,3.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
2,AZ,4.0,NaN,3.0,2.0,NaN,2.0,NaN,1.0,NaN
3,CA,8.0,1.0,19.0,56.0,NaN,31.0,3.0,11.0,8.0
4,CO,2.0,2.0,2.0,8.0,1.0,3.0,NaN,10.0,NaN
5,CT,5.0,NaN,NaN,4.0,NaN,NaN,1.0,2.0,NaN
6,DC,8.0,2.0,1.0,4.0,NaN,1.0,NaN,9.0,NaN
7,DE,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN
8,FL,4.0,NaN,NaN,6.0,1.0,1.0,3.0,6.0,NaN
9,GA,2.0,4.0,2.0,10.0,1.0,2.0,1.0,6.0,NaN
10,IA,4.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
11,IL,10.0,1.0,2.0,12.0,NaN,8.0,NaN,2.0,5.0
12,IN,3.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN
13,KS,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
14,MA,11.0,1.0,2.0,14.0,NaN,5.0,2.0,2.0,NaN
15,MD,6.0,NaN,NaN,8.0,NaN,NaN,NaN,9.0,NaN
16,MI,3.0,NaN,1.0,2.0,NaN,3.0,NaN,5.0,NaN
17,MN,3.0,1.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN
18,MO,3.0,NaN,2.0,6.0,NaN,NaN,NaN,1.0,NaN
19,MS,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NC,1.0,NaN,3.0,7.0,1.0,1.0,NaN,7.0,NaN
21,NE,6.0,NaN,NaN,NaN,1.0,NaN,NaN,3.0,NaN
22,NJ,6.0,NaN,3.0,9.0,4.0,3.0,4.0,1.0,5.0
23,NM,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2.0,NaN
24,NV,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN
25,NY,10.0,5.0,13.0,60.0,1.0,14.0,1.0,4.0,NaN
26,OH,2.0,3.0,1.0,9.0,NaN,NaN,NaN,5.0,NaN
27,OK,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
28,OR,13.0,NaN,2.0,3.0,NaN,NaN,2.0,3.0,NaN
29,PA,3.0,NaN,3.0,7.0,1.0,1.0,3.0,5.0,NaN
30,RI,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN
31,Remote,104.0,7.0,81.0,58.0,6.0,46.0,14.0,57.0,1.0
32,SC,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN
33,TN,8.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
34,TX,20.0,1.0,3.0,18.0,1.0,6.0,1.0,11.0,NaN
35,UT,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN
36,VA,3.0,2.0,6.0,12.0,NaN,1.0,NaN,2.0,NaN
37,WA,2.0,NaN,4.0,11.0,NaN,3.0,1.0,3.0,NaN
38,WI,3.0,1.0,NaN,5.0,1.0,1.0,NaN,1.0,NaN
39,WV,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN

In [119]:
df1["Data analyst"].max()

7.0

In [120]:
df1.loc[(df1["Data engineer"] == df1["Data engineer"].max())]

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
31,Remote,104.0,7.0,81.0,58.0,6.0,46.0,14.0,57.0,1.0

In [121]:
df1.loc[(df1["Data science"] == df1["Data science"].max())]

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
25,NY,10.0,5.0,13.0,60.0,1.0,14.0,1.0,4.0,NaN

In [122]:
df1.loc[(df1["Developer"] == df1["Developer"].max())]

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
31,Remote,104.0,7.0,81.0,58.0,6.0,46.0,14.0,57.0,1.0

In [123]:
df1.loc[(df1["Software engineer"] == df1["Software engineer"].max())]

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
3,CA,8.0,1.0,19.0,56.0,NaN,31.0,3.0,11.0,8.0

Eliminamos la fila "Remote" para comparar las ciudades

In [124]:
df1.drop(index=31, inplace=True)

In [125]:
df1.loc[(df1["Software engineer"] == df1["Software engineer"].max())]

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
3,CA,8.0,1.0,19.0,56.0,NaN,31.0,3.0,11.0,8.0

In [126]:
df1.loc[(df1["Developer"] == df1["Developer"].max())]

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
22,NJ,6.0,NaN,3.0,9.0,4.0,3.0,4.0,1.0,5.0

In [127]:
df1.loc[(df1["Data engineer"] == df1["Data engineer"].max())]

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
3,CA,8.0,1.0,19.0,56.0,NaN,31.0,3.0,11.0,8.0

In [128]:
df1.loc[(df1["Data science"] == df1["Data science"].max())]

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
25,NY,10.0,5.0,13.0,60.0,1.0,14.0,1.0,4.0,NaN

In [129]:
df1.loc[(df1["Data analyst"] == df1["Data analyst"].max())]

Title,Location,Business,Data analyst,Data engineer,Data science,Developer,Machine learning,Other categories,Other data jobs,Software engineer
25,NY,10.0,5.0,13.0,60.0,1.0,14.0,1.0,4.0,NaN

In [130]:
df.to_csv("TRABAJOS.csv")